# Compiled class file
*.class

# Log file
*.log

# build stuff
.build-harness
build-harness

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Terraform
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Initial seed of SSH keys

# This is just a symlink used during terraform deployment
terraform/aks/provider.tf
terraform/flux/provider.tf
terraform/shared/provider.tf